<header>
  <h1>{{title}}
  </h1>
  <nav style="text-align: left">
    <ul>
      <!-- After setting up routers, you can use the router link -->
      <li><a [routerLink]="['/']">home</a></li>
      <li><a [routerLink]="['/directory']">Directory</a></li>
    </ul>
  </nav>
</header>
<section id="main">
  <hr>
  <!-- <app-home [cheeze]="inputarray2" (onYell)="yell($event)">this is the home directive</app-home> -->
  <!-- to dynamically route to the directories, the below tag is needed -->
  <router-outlet></router-outlet>
</section>
