<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <h1>
    Welcome to {{ title }} !!! Angular 2 <br>
    this is the app component

  </h1>
  <nav style="text-align: left">
    <ul>
      <li>some link</li>
      <li>some link</li>
      <li>some link</li>
      <li>some link</li>
    </ul>
  </nav>
</header>
<section id="main">
  <hr>
  <!-- <app-home [cheeze]="inputarray2" (onYell)="yell($event)">this is the home directive</app-home> -->
  <!-- to dynamically route to the directories, the below tag is needed -->
  <router-outlet></router-outlet>
</section>
