p{
  font-size: 150%;
  color: blue;
}
input{
  text-align: center;
  display: block;
  margin: 0 auto;
}
label{
  display: block;
  margin: 0 auto;
}
#comments{
  display: block;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 2px;
}
h1{
  text-align: center;
  color: blue;
  text-transform: uppercase;
  text-decoration-line: underline;
}
