<h1>home component</h1>
<p>
  {{homeTitle}}
</p>
<ng-content></ng-content>

<input [value]="myValue">
<input required="{{trueOrFalse}}"><br>
<br>
<input [(ngModel)]="inputarray1.comments">
<br>
<label>Name:
{{inputarray1.name}} <br>
</label>
<label>Surname:</label>
{{inputarray1.surname}} <br>
<label>Comments:</label>
{{inputarray1.comments}} <br>
<a href="https://www.youtube.com/watch?v=sVTNaYBVP88" target="_blank">
  <button>Continue angular</button>
</a>
<br>
<button (click)="alertme('I love you cheeze!!!!')">Click me</button>
{{cheeze.name}} <br>
{{cheeze.surname}} <br>
<button (click)="fireYellEvent($event)">Hit Me</button>
