<p>
  {{homeTitle}}
</p>
<ng-content></ng-content>

<!-- Property binding -->
<!-- Below value is the property. by placing the [] around it
I can now bind any variable declared in there and the app will pick it up
and place it there-->
<input [value]="myValue">
<!-- By placing the {{}} around the value, it will also bind it to the property -->
<input required="{{trueOrFalse}}"><br>

<input [(ngModel)]="inputarray1.comments">
<br>
<p>{{inputarray1.name}}</p>
<p>{{inputarray1.surname}}</p>
<p>{{inputarray1.comments}}</p>
<a href="https://www.youtube.com/watch?v=uh5ZKGEEAkY" target="_blank">
  <button>Continue angular</button>
</a>
<br>
<button (click)="alertme('I love you cheeze!!!!')">Click me</button>
<!-- Two way property binding -->
